<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEPITE</title>
    <link rel="stylesheet" type="text/css" href="style.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 
<!-- baniere logo -->
     <div id="parent0">

        <div id="baniereLogo1">
            <a href="index.html">PEPITE</a>
        </div>

        <div id="baniereLogo2"> 
            <div id= "baniereLogo2a">
                <div class="dropdown"></br>
                        Need Help 
                        <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#">Terms and conditions</a>
                        <a href="#">Track my package</a>
                        <a href="#">Contact us</a>
                    </div>
                </div>
            </div>
            <div id= "baniereLogo2b">
                <div class="dropdown"></br>
                        <a href="#"><i class="fa fa-user profil"></i></a> 
                        <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#">LogIn</a>
                        <a href="#">LogOut</a>
                    </div>
                </div>
            </div>
            <div id= "baniereLogo2c">
                <div class="dropdown"> </br> 
                    <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
                </div>
            </div>
                  
        </div>
        
    </div>   

<!-- baniere logo end -->
            

<!-- section description product -->

<div id="produit">
    <div id="image">
        <img src="images/jouet2.jpeg">
    </div>
    <div id="description">
            <spam class="des">titre produit</spam>
            <spam class="des">prix :$</spam>
            <spam class="des">description produit</spam>
            <spam class="des">Avis</spam>
    </div>
    <div id="buy">
            <spam class="buy1">add cart</spam> 
            <spam class="buy1">buy now</spam>
    </div>
</div>


<!-- section description product end -->


<!-- baniere 4 Avantages -->
<div id= "baniereAvantage">
    <div>
        <a href="">
        <p class= "carré">BUY LOCAL
        <img src="images/star.png"></p>
        </a>
    </div>
    <div>
        <a href="">
        <p class= "carré">ON LINE</br> PURCHASE
        <img src="images/cleander.png"></p>
        </a>
    </div>
    <div>
        <a href="">
        <p class= "carré">CHECK BY US
        <img src="images/stamp.png"></p>
        </a>    
    </div>
    <div>
        <a href="">
        <p class= "carré">DELIVERY IN FRONT</br> OF YOUR PORSH
        <img src="images/thumb.png"></p>
        </a>
    </div>

 
</div>


<div id= "baniereCondition">
    <p>condition generales</p>
    <p>partener</p>
    <p>questions</p>
</div>


<footer id="footerBaniere">
    copyright 2020

</footer>
    






    <script src="main.js"></script> 
</body>
</html>