<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEPITE</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 
<!-- baniere logo -->
     <div id="parent0">
        <div id="baniereLogo1">
            <a href="index.html">PEPITE</a>
        </div>
        <div id="baniereLogo2"> 
            <div id= "baniereLogo2a">
                <div class="dropdown"></br>
                        Need Help 
                        <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#">Terms and conditions</a>
                        <a href="#">Track my package</a>
                        <a href="#">Contact us</a>
                    </div>
                </div>
            </div>
            <div id= "baniereLogo2b">
                <div class="dropdown"></br>
                        <a href="#"><i class="fa fa-user profil"></i></a> 
                        <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#">LogIn</a>
                        <a href="#">LogOut</a>
                    </div>
                </div>
            </div>
            <div id= "baniereLogo2c">
                <div class="dropdown"> </br> 
                    <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
                </div>
            </div>       
        </div>  
    </div>   
<!-- baniere logo end -->
            

 <!-- ESSAI description mag-->
 
    <%=result.magasin%>
    <%=result.neighborhood%>
 

     <!-- ESSAI FIN-->


<!-- baniere commercant -->
    <div id="BaniereMagProfil">
        <div id= "tourBoite">
            <div id= "boite1">
                <span class= "img"><img src="images/mag2.jpeg"></span>
                <span class= "nom">Toy shop</span> 
                <span class="descriptif">LITLE ITALY</span>
            </div>
            <div id="informations">
                <span class="info">Products:Toys Store for kids</span>
                <span class="info">Informations</span>
                <span class="info">Avis</span>
            </div>
        </div>
    </div>
<!-- baniere commercant end -->

<!-- section choose your product -->

   <div id= "main">
        <h1><div id= "TITRE"><span id="BNR">PRODUCTS</span></div></h1>
        <div id="parent">
            <div id="cdb">
                <div id= "boite">
                    <span class= "img"><a href="pageProduit.html"><img src="images/jouet1.jpeg"></a></span>
                    <span class= "nom">procuct:tower</span> 
                    <span class="descriptif">prix:$25</span>
                </div>
                <div id= "boite">
                    <span class= "img"><img src="images/jouet2.jpeg"></span>
                    <span class= "nom">procuct:mini kitchen</span> 
                    <span class="descriptif">prix:$40</span>
                </div>
                <div id= "boite">
                    <span class= "img"><img src="images/jouet3.jpeg"></span>
                    <span class= "nom">procuct:train</span> 
                    <span class="descriptif">prix:$35</span>
                </div>
            </div>

            <div id="cdb">
                <div id= "boite">
                    <span class= "img"><img src="images/jouet4.jpeg"></span>
                    <span class= "nom">procuct:tedy bear</span> 
                    <span class="descriptif">prix:$45</span>
                </div>
                <div id= "boite">
                    <span class= "img"><img src="images/jouet5.jpeg"></span>
                    <span class= "nom">procuct: logic game</span> 
                    <span class="descriptif">prix:$35</span>
                </div>
                <div id= "boite">
                    <span class= "img"><img src="images/jouet6.jpeg"></span>
                    <span class= "nom">procuct:tree house</span> 
                    <span class="descriptif">prix:$45</span>
                </div>
            </div>
        </div>    
    </div>
</div>
<!-- section choose your product end -->


<!-- baniere 4 Avantages -->
<div id= "baniereAvantage">
    <div>
        <a href="">
        <p class= "carré">BUY LOCAL
        <img src="images/star.png"></p>
        </a>
    </div>
    <div>
        <a href="">
        <p class= "carré">ON LINE</br> PURCHASE
        <img src="images/cleander.png"></p>
        </a>
    </div>
    <div>
        <a href="">
        <p class= "carré">CHECK BY US
        <img src="images/stamp.png"></p>
        </a>    
    </div>
    <div>
        <a href="">
        <p class= "carré">DELIVERY IN FRONT</br> OF YOUR PORSH
        <img src="images/thumb.png"></p>
        </a>
    </div>

 
</div>


<div id= "baniereCondition">
    <p>condition generales</p>
    <p>partener</p>
    <p>questions</p>
</div>


<footer id="footerBaniere">
    copyright 2020

</footer>
    






    <script src="main.js"></script> 
</body>
</html>